.tag-item {
  display: inline-block;
  margin: 5px;
  padding: 0 0.8rem;
  line-height: 1.5rem;
  border-radius: 1rem;
  background-color: rgb(179, 179, 179);
}
.tag-item:hover {
  border: 2px solid red;
}
.tag-item__x-delete {
  display: inline-block;
  padding-left: 0.7rem;
}
.tag-list {
  border: 2px solid rgb(66, 52, 52);
  border-radius: 6px;
}

.tag-list .testinput {
  border: 2px solid skyblue;
}
